* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility styles */

:root { 
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  letter-spacing: .1px;
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray:hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: #FFFFFF;
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  background-color: var(--magnolia);
}

.btn--group {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  font-size: 1rem;
  padding: 16px 30px;
  border-radius: 6px;
  background-color: var(--marine-blue);
  color: var(--magnolia);
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--purplish-blue);
  color: var(--white);
}

.btn--ghost {
  color: var(--cool-gray);
  background-color: var(--white);
  padding: 0px;
}
.btn--ghost:hover {
  background-color: var(--white);
  color: var(--purplish-blue);
}

.btn--confirm {
  background-color: var(--purplish-blue);
}
.btn--confirm:hover {
  background-color: var(--pastel-blue);
}

/* General layout */

.app-container {
  width: 1200px;
  min-height: 650px;
  display: grid;
  grid-template-columns: 350px 1fr;
  margin: 80px auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
}

.page-container {
  margin: 0 60px;
  padding: 50px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page--title {
  color: var(--marine-blue);
  font-size: 2.5rem;
  padding-bottom: 15px;
}

.page--description {
  color: var(--cool-gray);
  padding-bottom: 40px;
}

/* Navigation */
.nav-container {
  background-image: url('../src/assets/bg-sidebar-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--marine-blue);
  border-radius: 10px;
  padding: 50px 40px;
}

.nav--item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.nav--item-num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: var(--alabaster) 1px solid;
  border-radius: 1000px;
  color: var(--white);
  font-weight: 500;
  margin-right: 20px;
}

.nav--item-step {
  text-transform: uppercase;
  color: var(--light-gray);
  font-size: .8rem;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.nav--item-label {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1px;
}

.selected {
  background-color: var(--light-blue);
  color: var(--marine-blue);
}

/* Page 1: Form */

.form-container {
  display: flex;
  flex-direction: column;
}

.form--label {
  color: --marine-blue;
  font-size: .9rem;
  padding-bottom: 10px;
}

.form--input {
  font-size: 1rem;
  padding: 14px 20px;  
  border: var(--light-gray) 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
}
.form--input:focus {
  outline: none !important;
  border: var(--purplish-blue) 1px solid;
}
::placeholder {
  color: var(--cool-gray);
}

/* Page 2: Plans */

.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.plan--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
}
.plan--card-name {
  color: var(--marine-blue);
  font-size: 1.1rem;
  padding-bottom: .5rem;
}
.plan--card-price {
  color: var(--cool-gray);
}
.plan--card-icon {
  width: 50px;
  margin-bottom: 60px;
}

.plan--card:hover {
  border: 1px solid var(--purplish-blue);
  cursor: pointer;
}

.selected--card {
  border: 1px solid var(--purplish-blue) !important;
  background-color: rgba(90, 103, 216, 0.1); 
}

.plan--annual-text {
  font-size: .9rem;
  padding-top: .5rem;
  color: var(--marine-blue)
}

/* Toggle */
.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding: 10px;
  background-color: var(--alabaster);
}

.toggle {
  display: flex;
  background-color: var(--marine-blue);
  width: 60px;
  height: 30px;
  border-radius: 1000px;
}
.toggle:hover {
  cursor: pointer;
}
.toggle-dot {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 100px;
  margin: 5px;
  padding: 0 10px;
  transition: transform 0.2s;
}
.toggle-dot-right {
  transform: translateX(150%);
}

.toggle--label {
  padding: 0 20px;
  color: var(--cool-gray);
}
.toggle--selected {
  color: var(--marine-blue);
  font-weight: 500;
}

/* Page 3: Add Ons */
.addOn--card {
  display: flex;
  align-items: center;
  padding: 25px;
  margin-bottom: 20px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
}

.addOn--checkbox {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  margin-right: 20px;
}
.addOn--checkbox:checked {
  background-color: var(--purplish-blue); 
  border-color: var(--purplish-blue)
}
.addOn--checkbox:checked::before {
  content: '\2713'; /* Checkmark symbol */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.addOn--card-content {
  display: flex;
  flex-direction: column;
}
.addOn--title {
  color: var(--marine-blue);
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: .5rem;
}
.addOn--description {
  color: var(--cool-gray)
}
.addOn--price {
  color: var(--purplish-blue);
}

/* Responsive */

@media (max-width: 1200px) {
  .app-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    position: relative;
  }

  .nav-container {
    background-image: url('../src/assets/bg-sidebar-mobile.svg');
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    border-radius: 0;
    z-index: 1;
  }
  .nav--item-step {
    display: none;
  }
  .nav--item-label {
    display: none;
  }

  .page-container {
    background-color: var(--white);
    margin: 20px; 
    padding: 40px;
    position: absolute;
    top: 95px;
    left: 0;
    right: 0;
    border-radius: 10px;
    min-height: 600px;
    z-index: 2;
  }
  .page--title {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  .card-group {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .plan--card {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: auto;
  }
  .card--content {
    padding-left: 20px;
  }
  .plan--card-icon {
    margin-bottom: 0;
  }
}

